html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%!important;
    font-size: 1.3rem;
    min-height: 100%!important;
}

$color--main: rgb(206, 11, 11);
.color{
    color: $color--main;
    background-color: $color--main;
}

.navbar{
    z-index: 5;
    & .navbar-brand{
        font-size: 1.8rem!important;
    }
    & .nav-link{
        padding-left: 1rem!important;
    }
}

.phone{
    position: fixed;
    padding-top: 4rem;
    border-color: $color--main!important;
    z-index:1;
}

h1{
    padding-top: 8.5rem!important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text{
    text-align: justify;
    text-align-last: center;
    margin: 2rem;
}

.images {
    max-width: 90%;
}

.card-title{
    height:6rem!important;
    font-size: 1.3rem;
}

.footer{
    line-height: 1.1rem;
    & .copyright,
    & .law{
        max-width:60%;
        font-size: 0.8rem!important;
    }
    a:hover{
        color: #000!important;
    }
}

//LAW.HTML
.return:hover{
    color:#ffd700;

}

// RESPONSIVE

@media all and (max-width: 350px){
    #card-dish .card{
        width: 6rem!important;
    }
    .navbar .navbar-brand {
        font-size: 1rem!important;
    }
}

@media all and (max-width: 400px){
    .navbar {
        & .navbar-brand {
        font-size: 1.3rem!important;
        }
        & .navbar-toggler{
            padding: 3px 8px!important;
            font-size: 1rem!important;
        }
    }
    .card{
        width: 8rem!important;
        margin-right: 0!important;
    }
    .card-title{
        font-size: 1.1rem;
    }
    .card-text{
        font-size: 0.9rem!important;
    }
    .phone{
        margin-top: -0.5rem!important;
    }
    h1{
        padding-top: 7.5rem!important;
    }
}
@media all and (min-width: 650px){
    .description{
        text-align: center;
        max-width: 60%;
        margin: auto!important;
    }
    .footer{
        flex-direction: row!important;
        & .copyright{
            padding-top:1rem!important;
        }
    }
}

@media all and (min-width: 992px){
    .images{
        width: 900px;
    }
}